In [ ]:
import numpy as np
import pandas as pd

### Exercise set 2

The first step in most data analytics projects is reading the data file. In this exercise, you'll create `Series` and `DataFrame` objects, both by hand and by reading data files.

#### Ex. 2.1

In the _Solution_ cell below, create a `DataFrame` fruits that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

In [ ]:
# Solution

#### Ex 2.2

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [ ]:
# Solution:

#### Ex 2.3
In the cell below, write code to save this `DataFrame` to disk as a csv file with the name `cows_and_goats.csv`. Would you want to include the index here?

In [ ]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

In [ ]:
### Solution

### Exercise set 3

#### Ex 3.1
 Read inputs/core_data.csv as a dataframe call it `cr` 
 
 ** show the head of it

In [ ]:
### Solution

#### Ex 3.2
 Use the .info() method to find out how many entries there are.

In [ ]:
### Solution

#### Ex 3.3
What is the average `Depth CSF-A (m)` ?

In [ ]:
### Solution

#### Ex 3.4
 What is the highest amount of `Reflectance a*` in the dataset?

In [ ]:
### Solution

#### Ex 3.5
What is the amount of `Reflectance L*` for the highest amount of `Reflectance a*`

In [ ]:
### Solution

#### Ex 3.6
what is the minimum `NGR total counts (cps)`'s Lithology type?

In [ ]:
### Solution

#### Ex 3.7
How many `Holes` has the `Lithology` type of `Marls`?

In [5]:
### Solution

#### Ex 3.8
What is the data type of the `Hole` column in the dataset?

In [ ]:
### Solution

#### Ex 3.9

Create a variable `df` containing the `Depth CSF-A (m)` and `Lithology` columns of the first 100 records

Hint: you may use `loc` or `iloc`.

In [ ]:
### Solution

#### Ex 3.10
What is the number of data in `df` in which `Depth CSF-A (m)` is more than **10** and less than **25**

In [ ]:
### Solution

#### Ex 3.11
Calculate the number of missing, and duplicated values? What is the number of unique values for `df`

In [ ]:
### Solution

### Exercise set 4
We are going to load a new data. Run the below cell

** If you have time, apply your solutions for the questions above on the new dataset

In [ ]:
#first we must uncompress the data

import os
import zipfile

with zipfile.ZipFile('inputs/winemag-data-130k-v2.zip', 'r') as zip_ref:
    zip_ref.extractall('inputs')

In [ ]:
wi = pd.read_csv('inputs/winemag-data-130k-v2.csv')

#### Ex 4.1
There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series descriptor_counts counting how many times each of these two words appears in the description column in the dataset.

In [ ]:
### Solution

#### Ex 4.2
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [ ]:
### Solution

#### Ex 4.3
Create a dataframe top_oceania_wines containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

In [ ]:
### Solution

#### Ex 4.4
What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [ ]:
### Solution

#### Ex 4.5
I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable bargain_wine with the title of the wine with the highest points-to-price ratio in the dataset.

In [ ]:
### Solution

#### Ex 4.6

`region_1` and `region_2` are pretty uninformative names for locale columns in our wine reviews dataset. Create a copy of `wi` with these columns renamed to `region` and `locale`, respectively.

In [ ]:
### Solution