# Lecture 2: NumPy & Pandas

## Part II : Pandas - Data Analysis in Python

## James Percival <j.percival@imperial.ac.uk>

### Slides based on the Numpy tutorials and work by Dr. Parastoo Salah

## Doing Spreadsheets to Python

- NumPy is great for numerical data
- But what if you have data with different types & need to do statistical analysis?

[Pandas](https://pandas.pydata.org/) is an open source library that's built on top of a `NumPy`-like platform called `PyArrow`.

 Name comes from "panel data", econometrics term for data sets that include observations time periods for a fixed set of individuals.

Pandas is good for:
- Fast analysism data cleaning & preparation.
- Preprocessing machine learning approaches.
- (Relatively) high performance & productivity.
- Quick built-in visualization features.

- It can work with data from a wide variety of sources.
- It allows importing data in various formats such as csv, excel, HTML, etc.
- It allows a range of data manipulation operations such as `groupby`, `merge`, `concatenation` as well as data cleaning features such as filling, replacing or imputing missing values.
- It has for timeseries analysis for both regular and irregular data

## Learning objectives 
For the rest of the day we will learn how to use Pandas for data analysis. 
- The Pandas `Series` object.
- DataFrames: Creating, reading and writing to `DataFrame`s.
- Indexing of `DataFrame`s & how to slice and reference them.
- Arithmetic Operations on `Series` & `DataFrame`s
- Extract information from your data through summary functions and maps.
- Grouping and sorting data.
- `DataType`s and handling missing data.
- Renaming, Merging/Joining, and Concatenating.
- Built-in visualization features
- Timeseries with Pandas

#  Panda `Series`
- A `Series` works like a NumPy array, except indexed by a label
- Behaves a lot like a fast Python dictionary.
- It is a one-dimensional array holding data of any (collective) type.
- Can index by label, or by position.

Let's look at some examples:

## Creating a Series

Pandas is usually imported as `pd`

In [ ]:
import pandas as pd

You can convert a **list**, **numpy array**, **dictionary** or other **iterable** to a `Series`:

### Starting from a `list`

In [ ]:
my_list = [100, 200, 300]
pd.Series(data = my_list)

It looks a lot like a NumPy array, except we're explict we have an index `0 1 2` and data `100 200 300`.

Key to a Panda Series is that you can change the index:

In [ ]:
labels = ['x', 'y', 'z']
pd.Series(data=my_list, index=labels)

### Starting from a `numpy` array

In [ ]:
import numpy as np
arr = np.array([28, 25.0, 'Brian'])
pd.Series(arr)

In [ ]:
# Can change index again

labels = ['age', 'mark', 'name']
ser = pd.Series(arr, index=labels)
ser

In [ ]:
print(ser['name'])

### Starting from a Python `dict`

In [ ]:
# Labels are easy here:
dic = {'x':10.0,'y':20.0,'z':30.0}  #python dictionary
pd.Series(dic)

### Data in a Series

Pandas uses Numpy-style data types (also a few of its own). Already seen
- integers (int64)
- floats (float64)

Since we're allowed any Python object, could even use functions!

In [ ]:
# Not many reasons to do this!
pd.Series([sum, print, len])

## Using an Index

Let's see some examples of how to grab information from a Series.

Let us create two `Series`, `ser1` and `ser2`:

In [ ]:
ser1 = pd.Series([10, 20, 30, 40],index = ['X', 'Y','Z', 'T'])                                   
ser1

In [ ]:
ser2 = pd.Series([10, 20, 50, 40],index = ['X', 'Y','M', 'T'])                                   
ser2

In [ ]:
ser1['X'] #just pass in the index label like we would in NumPy

**Operations are then also done based off of index:**

In [ ]:
ser1 + ser2

#  DataFrames: creating, reading, writing

A `DataFrame` is a table (think _Excel_ spreadsheet).
- It contains an collection of entries, each of which has a certain value.
- Each entry corresponds to a row (or record or index) and a column (or field)

# Creating
We are using the `pd.DataFrame()` constructor to generate these `DataFrame` objects.

In [ ]:
df = pd.DataFrame(data=np.random.randn(4,3), index=['A','B','C','D'], columns=['X','Y','Z'])

#Common alternative Syntax:
#df = pd.DataFrame(randn(4,3),index='A B C D'.split(),columns='X Y Z'.split())

In [ ]:
df

In [ ]:
# Or use a dictionary of columns

data = pd.DataFrame({'Course':['NPP','NPP','EDMS','EDMS','CM','CM'],
       'Person':['Bob','Sam','Amy','Vanessa','Carl','Sarah'],
       'Marks':[70,75,80,65,60,90]},
       index=['A','B','C','D','E','F'])

In [ ]:
data

## Reading and writing

Being able to create a `DataFrame` or `Series` by hand is useful. 

Most of the time, won't actually be creating our own data by hand. We'll be working with data that already exists.

Pandas has tools to read data in a whole lot of formats.

## CSV files

Structured datcan be stored in any of a number of different forms and formats. By far the most basic of these is the humble CSV file. When you open a CSV file you get something that looks like this:

In [ ]:
df1 = pd.read_csv('inputs/df1.csv')
df1

The `pd.read_csv()` function is very versatile, with >30 optional parameters . 

For example, you can see in this dataset that the CSV file has a built-in index, which pandas did not pick up on automatically. To make pandas use that column for the index (instead of creating a new one from scratch), we can specify an index_col.

We can write a csv file with

```python
df.to_csv('example', index=False)
```

### Excel

Pandas can read and write excel files (with a few helper packages).

Keep in mind, this only imports data. Not formulas or images.

Having images or macros may cause this `read_excel` method to crash.

read/write with

```python
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet2')
```

#  Selection, Assigning data and Indexing

## Selection

Let's learn the various methods to grab data from a DataFrame.
These are the two ways of selecting a specific Series out of a `DataFrame`. 

The indexing operator `[]` does have the advantage that it can handle column names with reserved characters in them.

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df['Y']

In [ ]:
# Pass a list of column names
df[['Y','Z']]

In [ ]:
# SQL Syntax (Not always possible, not recommended)
df.Y

In [ ]:
print(df['Y']['A'])
df['Y']['A'] == df.loc['A', 'Y']

### Index-based selection

Pandas indexing works 2 ways:
- The first is position-based selection: selecting data based on its numerical position in the data. `.iloc` does this (as does `.at`)
- The second is **label-based selection**. In this paradigm, it's the data index value, not its position, which matters. `.loc` does this.

Both `loc` and `iloc` are row-first, column-second. This is the same as `numpy` but the opposite native Python, which is column-first, row-second in e.g. lists of lists.

In [ ]:
df.loc['A']

In [ ]:
df.loc['B','Y']

In [ ]:
df.loc[['A','B'],['Z','Y']]

In [ ]:
df.iloc[0,:] #or df.iloc[1]

In [ ]:
df.iloc[:, 0]

In [ ]:
df.iloc[:3, 0]

In [ ]:
df.iloc[[1, 2], 0]

### Creating a new column:
**DataFrame Columns are just Series**

In [ ]:
type(df['Z'])

In [ ]:
df['new'] = df['Z'] + df['Y']

In [ ]:
df

In [ ]:
df['index_backwards'] = range(len(df), 0, -1)
df

### Removing Columns

In [ ]:
df.drop('new', axis=1)

In [ ]:
# Not done inplace unless specified!
df

In [ ]:
df.drop('new', axis=1, inplace=True)
#or 
#df_newVer = df.drop('new',axis=1)

Can also drop rows this way:

In [ ]:
df.drop('A', axis=0)

In [ ]:
del df['index_backwards']
df

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
df>0

In [ ]:
df[df>0]

In [ ]:
df[df['Z']>0]

In [ ]:
df[df['Z']>0]['Y']

In [ ]:
df[df['Z']>0][['Y','X']]

For two conditions you can use | and & with parenthesis:

In [ ]:
df[(df['X']>0) & (df['Y'] > 1)]

In [ ]:
df

Pandas has som built-in conditional selectors, two of which we will highlight here.

- The first is `.isin`. `isin` is lets you select data whose value "is in" a list of values.

- The second is `.isnull` (and pair `.notnull`). These methods highlight values which are (aren't) empty or missing (`NaN`/`NA`). For example, to filter out our failed sums:

In [ ]:
df.loc[df['Z'].notnull()]

### More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else.

In [ ]:
# Reset to default 0,1...n index
df.reset_index()

In [ ]:
newind = 'one two three four'.split()

In [ ]:
df['Hs_type'] = newind

In [ ]:
df

In [ ]:
df.set_index('Hs_type') # Not inplace by default

In [ ]:
df.set_index('Hs_type', inplace=True)

## Multi-Indexing

An index can have more than one level

In [ ]:
mdf = pd.DataFrame({'A': [1, 2, 1],
        'B': [12., 14., 13.]},
        index = pd.MultiIndex.from_arrays([['Player 1', 'Player 1', 'Player2'],
                                           ['Test 1', 'Test 2', 'Test 1']])
                  )
mdf

In [ ]:
data = {'A':['Class1','Class1','Class1','Class2','Class2','Class2'],
     'B':['M1','M1','M2','M2','M1','M1'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)
df.pivot_table(values='D', index=['A', 'B'], columns=['C'])

#  Operations

There are lots of operations it's useful to use

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['aa','cc','dd','ee']})
df.head()

### Info on Unique Values

In [ ]:
df['col2'].unique()

In [ ]:
df['col2'].nunique()

In [ ]:
df['col2'].value_counts()

### Duplications

In [ ]:
df.duplicated()#.

#### Drop duplication

In [ ]:
df.drop_duplicates(inplace=True)

### statistical information

In [ ]:
df['col2'].mean(numeric_only=True) # or .std() .median(), etc

#### Summarising data

In [ ]:
df.describe()

### `.map` and `.apply`

A **map** is a term, borrowed from maths for a function which takes a set of inputs and "maps" them to another set of outputs.

In data science often wnt new representations from existing data, or to transform data from existing format it to a new one. Maps ahandle this work, making them extremely important for getting your work done!

`map()` is the simple function, which just takes each element and apply a function (**not in place**)

In [ ]:
df_mean = df['col1'].mean()
df['col1'].map(lambda p: p - df_mean)

`.apply`

In [ ]:
def times_n(x, n):
    return x*n

In [ ]:
df['col1'].apply(times_n, n=4)
df['col1'].apply(times_n, args=[4])

In [ ]:
df['col3'].apply(len)

In [ ]:
# Don't forget the builtins!

df['col2'].sum()

## More on Data Types 

- You can use the `dtype` property to grab the type of a specific column. 
- Use `.dtypes` on `DataFrame` to see all data types of columns

In [ ]:
df['col2'].dtype

In [ ]:
df.dtypes

Data types tell us how {andas is storing data internally. 
- `float64` means that it's using a 64-bit floating point number; 
- `int64` means a similarly sized integer instead.

Python strings are stored as objects, just like in numpy (and unlike C-style strings).

It's possible to convert a column of one type into another wherever such a conversion makes sense by using the `astype()` function.

For example, we may transform the points column from its existing `int64` data type into a `float64` data type:

In [ ]:
df['col2'].astype('float64') # Convesion, not cast

## Missing Values

Entries missing values are given the value `NaN`, short for "Not a Number". For technical reasons these `NaN` values are always of the `float64` `dtype`.

Pandas provides some methods specific to missing data. To select `NaN` entries you can use `pd.isnull()` (or its companion `pd.notnull()`). This is meant to be used thusly:

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['aaa','bbb','ccc','ddd']})
df.head()

In [ ]:
df.isnull()

In [ ]:
# Watch out for effect on maths!

df.sum()

In [ ]:
df.sum(skipna=False)

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1) # drop columns instead

In [ ]:
df.dropna(thresh=2) # How many allows

In [ ]:
# Replace with human-readable notice
df.fillna(value='FILL VALUE')

In [ ]:
# Replace with a typical value
df['A'].fillna(value=df['A'].mean())

Remember the `replace()` method if you get data with  "Unknown", "Undisclosed", "Invalid", and so on and want `np.NaN`s instead.

# Groupby

The `groupby()` method allows you to group rows of data together and call aggregate functions.

In [ ]:
# Create dataframe
data = pd.DataFrame({'Course':['NPP','NPP','EDMS','EDMS','CM','CM'],
       'Person':['Bob','Sam','Amy','Vanessa','Carl','Sarah'],
       'Marks':[70,75,80,65,60,90]},
       index=['A','B','C','D','E','F'])

In [ ]:
df = pd.DataFrame(data)

Now you can use the .groupby() method to group rows together based off of a column name. For instance let's group based off of Company. This will create a DataFrameGroupBy object:

In [ ]:
df.groupby('Course')

You can save this object as a new variable:

In [ ]:
by_course = df.groupby("Course")

Now we can call aggregate methods off the object to get new Series:

In [ ]:
by_course.mean(numeric_only=True)

In [ ]:
by_course.std(numeric_only=True) #max() #min()

In [ ]:
by_course.count()

In [ ]:
by_course.describe()

In [ ]:
by_course.describe().transpose()

Another `groupby()` method worth mentioning is agg(), which lets you run your own functions on your DataFrame.

For example, we can generate a simple statistical summary of the dataset as follows:

In [ ]:
df.groupby(['Course']).agg([len, 'min', 'max'])

# Merging, Joining, and Concatenating

There are 3 main ways of combining DataFrames together:
- Merging
- Joining
- Concatenating.

Let's look at some examples. First, some data:

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])
df1

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])
df2

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])
df3

## Concatenation

Concatenation glues together DataFrames. Want dimensions to match along the axis you are concatenating on.

Use `pd.concat` & pass in a list/iterable of DataFrames to stick together:

In [ ]:
pd.concat([df1,df2,df3])

In [ ]:
pd.concat([df1,df2,df3],axis=1)

In [ ]:
#New data for merging

left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})
left

In [ ]:
right

## Merging

The **merge** function allows you to merge DataFrames together using a similar logic as merging SQL Tables together. For example:

In [ ]:
pd.merge(left,right, how='inner',on='key')

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

left

In [ ]:
right

In [ ]:
pd.merge(left, right, on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

## Joining
Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

left

In [ ]:
right

In [ ]:
left.join(right)

In [ ]:
left.join(right, how='outer')

## Visualization

Pandas can do plots & charts straight from the data objects

In [ ]:
df1 = pd.read_csv('inputs/df1.csv', index_col=0)

df1

In [ ]:
# Histogram from a Seeis

df1['A'].plot.hist()

In [ ]:
# Scatter from a dataframe

df1.plot.scatter('A', 'B')

## Time Series Analysis

Pandas has tools to resample and aggregate temporally indexed data. See `MorePandas.ipynb` for more to play with.

In [ ]:
df = pd.read_csv('inputs/Tide.csv', index_col='Date',
                 parse_dates=True, dayfirst=True) 

df

In [ ]:
df.resample(rule='D').mean() # daily mean

In [ ]:
df['Hs'].resample('M').max()

# Any Questions?